<p>Viewing your profile</p>

<h3>{{ profile.name }}</h3>

<p>
	<img src="{{ profile.image }}" alt="Profile Pic">
</p>
<p>
	<b>Age:</b> {{ profile.age }}
</p>
<p>
	<b>Favorite Food:</b> {{ profile.favoriteFood }}
</p>
<div>
	<b>Interests</b>
	<ul class="profile-interests">
		<li 
			*ngIf="!(profile.interests.length !== 0 || interestsEdit.new)" 
			(click)="editInterest('new')"
		>
			No interests are currently listed. Click to add one.
		</li>
		<li *ngFor="#interest of profile.interests #i=index">
			<span *ngIf="!interestsEdit[i]">
				<span (click)="editInterest(i)">{{ interest }}</span>
				<span class="delete-interest" (click)="deleteInterest(i)">x</span>
			</span>
			<input type="text" *ngIf="interestsEdit[i]" [(ngModel)]="profile.interests[i]">
			<input type="submit" *ngIf="interestsEdit[i]" (click)="saveInterest(i)">
			<button *ngIf="interestsEdit[i]" (click)="cancelInterestEdit(i)">Cancel</button>
		</li>
		<li *ngIf="(profile.interests.length > 0 && profile.interests.length <= 5) || interestsEdit.new">
			<span *ngIf="!interestsEdit.new" (click)="editInterest('new')">Add new</span>
			<input type="text" *ngIf="interestsEdit.new" [(ngModel)]="newInterest">
			<input type="submit" *ngIf="interestsEdit.new" (click)="saveInterest('new')">
			<button *ngIf="interestsEdit.new" (click)="cancelInterestEdit('new')">Cancel</button>
		</li>
	</ul>
</div>