<link rel="stylesheet" href="/ng-app/profiles/profiles.styles.css">
<div id="profiles-template" class="centered-gt-1000">
	<nav>
		<div ng-click="vm.toggleProfiles()">
			<span ng-class="{'collapse': vm.isShowing}">&gt;</span>
		</div>
		<h4 ng-class="{'show': vm.isShowing}">Profile Selection:</h4>
		<ul ng-class="{'show': vm.isShowing}">
			<li ng-click="vm.toggleProfiles()" ui-sref="Profiles.Me">Me</li>
			<li ng-click="vm.toggleProfiles()" ui-sref="Profiles.View({id: profile._id})" ng-repeat="profile in vm.availableProfiles track by $index">{{profile.name}}</li>
			<li ng-click="vm.toggleProfiles()" ui-sref="Profiles.Add">+ Add new</li>
		</ul>
	</nav>
	<ui-view>No profile selected. Select one from the list above to view, or add a new profile by clicking the link in the profile menu.</ui-view>
</div>