<p>Viewing your profile</p>

<h3>{{ vm.profile.name }}</h3>

<p>
	<img src="{{ vm.profile.image }}" alt="Profile Pic">
</p>
<p>
	<b>Age:</b> {{ vm.profile.age }}
</p>
<p>
	<b>Favorite Food:</b> {{ vm.profile.favoriteFood }}
</p>
<div>
	<label for="vm.profile.interests">Interests</label>
	<ul class="profile-interests">
		<li ng-if="!(vm.profile.interests.length !== 0 || vm.interestsEdit.new)" ng-click="vm.editInterest('new')">No interests are currently listed. Click to add one.</li>
		<li ng-repeat="interest in vm.profile.interests track by $index">
			<span ng-if="!vm.interestsEdit[$index]">
				<span ng-click="vm.editInterest($index)">{{ interest }}</span>
				<span class="delete-interest" ng-click="vm.deleteInterest($index)">x</span>
			</span>
			<input type="text" ng-if="vm.interestsEdit[$index]" ng-model="vm.profile.interests[$index]">
			<input type="submit" ng-if="vm.interestsEdit[$index]" ng-click="vm.saveInterest($index)">
			<button ng-if="vm.interestsEdit[$index]" ng-click="vm.cancelInterestEdit($index)">Cancel</button>
		</li>
		<li ng-if="(vm.profile.interests.length > 0 && vm.profile.interests.length <= 5) || vm.interestsEdit.new">
			<span ng-if="!vm.interestsEdit.new" ng-click="vm.editInterest('new')">Add new</span>
			<input type="text" ng-if="vm.interestsEdit.new" ng-model="vm.newInterest">
			<input type="submit" ng-if="vm.interestsEdit.new" ng-click="vm.saveInterest('new')">
			<button ng-if="vm.interestsEdit.new" ng-click="vm.cancelInterestEdit('new')">Cancel</button>
		</li>
	</ul>
</div>