html, body {
	background-color: #aaa;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.centered-gt-1000 {
	padding: 18px;
}

#home-template, #profiles-template {
	background-color: white;
	box-shadow: 0 0 25px #666, 0 0 5px #666;
	padding-top: 75px;
}
	#home-template :first-child, #profiles-template :first-child {
		margin-top: 0;
	}
#app-template > nav {
	background-color: #E23237;
	color: white;
	font-family: 'Franklin Gothic Semibold', 'Arial Narrow', Arial, sans-serif;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
	.simple-menu {
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		padding: 0;
	}
		.simple-menu > li {
			cursor: pointer;
			display: none;
			flex: 1;
			padding: 15px 30px;
			text-align: center;
		}
			.simple-menu > li:hover {
				background-color: rgba(255, 100, 100, .3);
			}
			.simple-menu > li:first-of-type,
			.simple-menu > li.menu-open {
				display: block;
			}


@media screen and (min-width: 1000px) {
	.centered-gt-1000 {
		margin: 0 auto;
		max-width: 1000px;
	}
}

@media screen and (min-width: 600px) {
	.simple-menu {
		flex-direction: row;
	}
		.simple-menu > li {
			display: block;
		}
			.simple-menu > li:first-of-type {
				display: none;
			}
}